.sidebar {
  width: 250px;
  background-color: white;
  border-right: 1px solid var(--mid-gray);
}

.sidebar-content {
  padding: 1.5rem 0;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li {
  margin-bottom: 0.5rem;
}

.sidebar-nav a {
  display: block;
  padding: 0.75rem 1.5rem;
  color: var(--dark-gray);
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
}

.sidebar-nav a:hover {
  background-color: var(--light-gray);
  color: var(--primary-color);
}

.sidebar-nav a.active {
  background-color: var(--light-gray);
  color: var(--primary-color);
  border-left: 3px solid var(--primary-color);
}